%h2 Liste de cadeaux

%p 
  On est déjà pas mal équipé mais si vous désirez nous faire un cadeau ou bien participer à un cadeau, voici quelques idées. Notre adresse postale jusqu'au 20 août : 
  %em
    60 rue bannier, 45000 Orléans. 
  Après le déménagement : 
  %em
    2 av Tirman, 08000 Charleville Mézières. 
  Pour les djeuns' qui préfèrent les virements, voici le RIB de Franck : 
  %em
    10278 06186 00024603341 97

#gifts
  -for gift in @gifts
    .gift
      
      .pic
        %a{ :href => gift.link, :target => "_blank" }
          %img{:src => gift.pic }
      
      .gift_description
        %h3= link_to gift.name, gift.link, :target => "_blank"
        .description
          = textilize(gift.description)
        .price
          prix approx.
          = gift.price
          €
        - if show_admin?
          .admin_links
            = link_to "modifier", edit_gift_url(gift)
            = link_to "supprimer", gift_url(gift), :method => :delete

.clear
- if show_admin?
  =link_to "ajouter un cadeau", new_gift_path, :class => "button"
  
  